include simulation/config/*.json
include simulation/cache/route/*.npz
include simulation/cache/weather/*.npz
include simulation/library/binaries/*
include simulation/library/go_files/*.go
include simulation/library/go_files/go.mod
recursive-include simulation/library/binaries *